* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.header {
  position: relative;
  min-height: 100px;
}

.header-menu {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 0;

  &__container {
    display: grid;
    align-items: center;
    gap: 20px;
    grid-template-columns: auto 1fr;
    padding: 0 40px;
  }
}

.header-logo {
  font-size: 2em;
  letter-spacing: 0.1em;

  &__link {
    text-decoration: none;
    // font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    // color: white;
  }

  &__img {
    width: 100px;
  }
}

.header-navbar {
  &__list {
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: flex-end;
  }

  &__item {
    margin-left: 20px;
  }

  &__link {
    position: relative;
    overflow: hidden;
    padding: 20px 10px;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.125rem;
    transition: color 0.5s;

    &:hover::after,
    &:focus::after {
      left: 0;
      width: 100%;
    }

    &::after {
      position: absolute;
      bottom: 10px;
      left: 50%;
      width: 0;
      content: "";
      transition: width 0.5s, left 0.5s;
      border-bottom: 3px solid #010101;
    }
  }
}

.main {
  margin-top: 20px;
  margin-bottom: 20px;
}

.slides {
  position: relative;
  height: 600px;
  width: 70%;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

.container {
  position: absolute;
  top: 20%;
  left: 40px;
  max-width: 500px;
}

.white {
  color: white;
}

.black {
  color: black;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;

  &__title,
  &__subtitle {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 20px 0;
  }

  &__title {
    font-size: 1.5em;
  }
  &__subtitle {
    font-size: 0.7em;
  }

  &__actions {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    min-width: 200px;
    height: 50px;
    font-size: 0.75em;
    transition: 0.1s;

    &:hover,
    &:focus {
      background-color: white;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
  }
}

.active {
  opacity: 1;
  z-index: 2;
}

/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide {
  padding: 40px;
  box-sizing: border-box;
  background: #333;
  font-size: 40px;
}

.slide:nth-of-type(1) {
  background: url(../img/jeans.jpg);
  background-position: center;
  background-size: cover;
}

.slide:nth-of-type(2) {
  background: url(../img/for_her.jpg);
  background-position: center;
  background-size: cover;
}

.slide:nth-of-type(3) {
  background: url(../img/for_him.jpg);
  background-position: center;
  background-size: cover;
}

.slide:nth-of-type(4) {
  background: url(../img/zara_collection.jpg);
  background-position: center;
  background-size: cover;
}

.slide:nth-of-type(5) {
  background: url(../img/mens_summer_collection.jpg);
  background-position: center;
  background-size: cover;
}

.indicators {
  position: absolute;
  display: flex;
  gap: 10px;
  padding: 1em;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}

.control {
  position: absolute;
  z-index: 2;
  color: white;
  cursor: pointer;
  user-select: none;
  color: rgba(255, 255, 255, 0.2);
  transition: 0.5s;

  &:hover,
  &:focus {
    color: white;
  }

  & i {
    font-size: 3rem;
  }
}

.prev {
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  padding-left: 10px;
}

.next {
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  padding-right: 10px;
}

.pause {
  display: none;
}

.indicator {
  width: 35px;
  height: 2px;

  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  user-select: none;

  &.active {
    background-color: white;
  }
}

.footer {
  min-height: 100px;
  padding: 20px 0;

  &::before {
    position: absolute;
    border-top: 2px solid black;
    content: "";
    width: 100%;
  }

  &__contacts {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  &__icons {
    position: relative;
    display: flex;
    justify-content: center;

    & a {
      text-decoration: none;
      color: black;
      font-size: 2rem;
      padding: 10px;
      transition: 0.5s;

      &:hover,
      &:focus {
        color: brown;
      }
    }
  }
}
